{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_nora/css/style.css' %}">
</head>
<body>
    <h2>Bienvenido al listado del menu de hoy </h2>
    <h4><a class="boton" href="{% url 'app_nora:crear_menu' %}">Crear Nuevo Menu</a></h4>
    <table class="table">
        <tr>
            <th>id</th>
            <th>fecha</th>
            <th>Opcion 1</th>
            <th>Opcion 2</th>
            <th>Opcion 3</th>
            <th>Opcion 4</th>
            <th></th>
            <th></th>
        </tr>    

    {% for menu in menu_list %}
        <tr>
            <td>{{menu.menu_uuid}}</td>
            <td>{{menu.fecha}}</td>
            <td>{{menu.opcion_1}}</td>
            <td>{{menu.opcion_2}}</td>
            <td>{{menu.opcion_3}}</td>
            <td>{{menu.opcion_4}}</td>
            <td>
                <a class="boton" href="{% url 'app_nora:editar_menu' pk=menu.menu_uuid %} "> Editar</a>
            </td>
            <td>
                <a class="boton" href="{% url 'app_nora:eliminar_menu' pk=menu.menu_uuid %}"> Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>