{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_nora/css/style.css' %}">
</head>
<br><br>
<body>
    <div class="container">
        <div class="row">
          <div id ="container" class="col-6 col-sm-4"><h3>{{menu.opcion_1}}</h3></div>
          <div id ="container" class="col-6 col-sm-4"><h3>{{menu.opcion_2}}</h3></div>
      
          <!-- Force next columns to break to new line at md breakpoint and up -->
          <div class="w-100 d-none d-md-block"></div>
      
          <div id ="container" class="col-6 col-sm-4"><h3>{{menu.opcion_3}}</h3></div>
          <div id ="container" class="col-6 col-sm-4"><h3>{{menu.opcion_4}}</h3></div>
        </div>
      </div>
</body>

