{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_nora/css/style.css' %}">
</head>
<body>
  <br><br>
  <h1 style="text-align: center;">MENU DEL DIA</h1>
  <br><br>
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Opcion 1</h5>
          <p class="card-text">{{menu.opcion_1}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Opcion 2</h5>
          <h5 class="card-title">{{menu.opcion_2}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Opcion 3</h5>
          <p class="card-text">{{menu.opcion_3}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Opcion 4</h5>
          <p class="card-text">{{menu.opcion_4}}</p>
        </div>
      </div>
      <br><br>
      <a style="align-items: center;" href="/crear_pedido" class="btn btn-primary" > Realizar mi pedido</a>
    </div>

  </div>
</div>
</div>

</body>

