{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_nora/css/style.css' %}">
</head>
<body>
    <div>
        <h2>Menu de hoy</h2>
        <table class="table">
            <tr>
                <th>Fecha</th>
                <th>opcion_1</th>
                <th>opcion_2</th>
                <th>opcion_3</th>
                <th>opcion_4</th>
            </tr>    

        {% for menu in menu %}
            <tr><div>
                <td>{{menu.fecha}}</td></div>
                <td>{{menu.opcion_1}}</td>
                <td>{{menu.opcion_2}}</td>
                <td>{{menu.opcion_3}}</td>
                <td>{{menu.opcion_4}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>