{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_nora/css/style.css' %}">
</head>
<body>
    <h1>Página de Enlaces del Sistema</h1>
    <br>
    {% if user.is_authenticated %}
    <p><b>Usuario Id:</b> {{user.id}}<br><b>Nombre:</b> {{ user.username }}<br></p>
    <p><a href="{% url 'logout' %}?next={% url 'app_nora:inicio' %}">{{request.get_host}}{% url 'logout' %}?next={% url 'app_nora:listar_menu' %}  <br></a> Salir</p>

    {% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">{{request.get_host}}{% url 'login' %}?next={{ request.path }}</a> <br>Página de Login - Autentica y vuelve a esta página</p>
    {% endif %}

    <h2>Bienvenido al listado del menu de hoy </h2>
    <h4><a class="boton" href="{% url 'app_nora:crear_pedido' %}">Crear Nuevo Pedido</a></h4>
    <table class="table">
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>opcion</th>
            <th>comentario</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th></th>
            <th></th>
        </tr>    

    {% for pedido in pedido_list %}
        <tr>
            <td>{{pedido.id}}</td>
            <td>{{pedido.nombre}}</td>
            <td>{{pedido.opcion}}</td>
            <td>{{pedido.comentario}}</td>
            <td>
                <a class="boton" href="{% url 'app_nora:editar_pedido' pk=pedido.id %} "> Editar</a>
            </td>
            <td>
                <a class="boton" href="{% url 'app_nora:eliminar_pedido' pk=pedido.id %}"> Eliminar</a>                
            </td>
        </tr>
    {% endfor %}
    </table>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>