body {
    font-family: Arial;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: white;}

th, .boton {
    font-weight: bold;
    font-size:  16px;
    text-decoration: none;
    background-color: black;
    color: white;
}

.boton {
    font-weight: normal;
    padding:2px 15px 2px;
    border-radius: 9px;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.btn-primary{
    background-color: black;
    border-color: black;

}

.p {
    font-size:20px;
    background-color: red;
}

#container {
    background-color: aqua;
}

